table, th {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
  }

th {
    box-shadow: 0px 0px;
    text-align: center;
}

td {
    background-color: whitesmoke;
    padding: 0.5%;
    border-radius: 10%;
    box-shadow: 5px 5px gainsboro;
    width: 500px;
    text-align: right;
    
}

.blank {
    background-color: transparent;
    box-shadow: 0px 0px;
    width: 200px;
    
}

td :hover{
    color: blue;
}

ul {
    list-style-type: none;
    margin-left: 5%;
    text-decoration: solid;
    
}

li{
    text-align: right;
}

.pics{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    vertical-align: top;
}
