table, th, td {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

  }

td{
    height:200px;
    width: 200px;
    border: 1px solid black;
}

td :hover{
    color: blue;
}

ul{
    list-style-type:none;
}
